*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    margin: 10px;
}
.container {
    max-width: 1000px;
    background-color: aquamarine;
    margin: 0 auto;
    padding: 10px;
}

.photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-style: dotted;
    float: left;

}

.bio-data {
    float: left;
    padding: 20px;
}
.size {
    font-size: 20px;
}
.bio-data h2:hover {
    color: darkolivegreen;
}
.bio-data h1:hover {
    color: darkolivegreen;
}

h1,h2 {
    color: rgb(0, 17, 255);
}


.contact-info {
    float: right;
    margin: 30px;
}
.contact-info a {
    text-decoration: none;
}

.contact-info a:hover {
    color: chocolate;
    text-decoration: underline;
}

.div-clear {
    clear:both;
}

hr{
    border: solid black 2px;
    margin: 20px;
}
.mid {
    margin: 0 100px;
    font-size: 20px;
}

.left {
    width: 30%;
    float: left;
}
.right {
    width: 70%;
    float: left;
}

.right:hover {
    color: rgb(231, 12, 12);
}

.common-hr {
  border: solid black 1px;
  border-bottom: none;  
  margin: 20px auto;
}
.lefta {
    width: 30%;
    float: left;
}
.righta {
    width: 70%;
    float: left;
}
.right1 {
    width: 40%;
    float: left;
}

.right2 {
    width: 30%;
    float: left;
}

.right3 {
    width: 30%;
    float: left;
}
.bottom-container {
    text-align: center;
    background-color: red;
    /* padding: 20px; */
}

.bottom-container a {
    text-decoration: none;
    margin: 20px;
    color: cornsilk;

}
.bottom-container p{
    margin-top: 20px;
}


